{% extends 'todo/base.html' %}
{% block content %}
Current
    <ul>
    {% for todo in todos %}
        <li>
        <a href="{%  url 'viewtodo' todo_pk=todo.id %}">
            {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %}
            {% if todo.memo %} - {{ todo.memo }}{% endif %}
        </a>
        </li>
    {% endfor %}
    </ul>
    <hr>
    <br>
    <ul>
    {% for complete in completed %}
        <li>
        <a href="{%  url 'viewtodo' todo_pk=complete.id %}">
           {{ complete.title }}
            {% if todo.memo %} - {{ todo.memo }}{% endif %}
        </a>
        </li>
    {% endfor %}

{% endblock %}